{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="menuflex.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
    </head>
    <title></title>
    <body>
        <div id="wrap">
        <div id="header1"><h1>Menu</h1></div>
        <div id="header2">
            <h4 id="hotice">
            <br><br>
               HOT/ICE</h4>
        </div>
        <div id="section" style="overflow-x:hidden; height:790px; width:600px;"> 
        <div id="blank"></div>
        {% for product in products %}
        <div id="menu">
            <!-- <div id="menu{{ forloop.counter }}"> -->
           <div id="circle"> <img id="icon" src=""></div> 
            <!-- <div id="circlemenu{{ forloop.counter }}">  <img id="icon" src=""></div> -->
          <h3 id="title">{{ product.productName }}<a id="matter">{{ product.productDetail }}</a>
             <h5 id="listprice">{{ product.productPrice }}</h5></h3>
           <div id="numbutton" data-count="1">
            <input type="button" id="minus" onclick='countA(this)' value="-"><div id="result">1</div>
            <input type="button" id="plus"onclick='countB(this)' value="+">
        </div>
        </div>
        {% endfor %}
        <div id="footer">
            <button type="button" id="footer1" onclick="cancel()">전체 취소</button>
            <button type="button" id="footer2" onclick="location.href='order.html'">주문페이지 이동&nbsp&nbsp&nbsp&nbsp&nbsp<a id="total">0</a></button>
        </div>
        <div id="lastfooter">
            <button type="button" id="lastfooter1" onclick="location.href='menu.html'">메뉴</button>
            <button type="button" id="lastfooter2" onclick="location.href='recipe.html'">레시피</button>
            <button type="button" id="lastfooter3"  onclick="location.href='order2.html'">마이</button>
        </div>
    </div>
    <script src="menuflex.js"></script>
    </body>
</html>
</article>


