@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{margin:0;padding:0;}

body{
    background-color: rgb(215, 208, 184);
}

#wrap{
    background-color: white;
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header1>h1{
    color:#544866;
    font-family: 'Lilita One';
    font-size:43px;
    margin-top: 40px;
    margin-right: 360px;
}

#header1{
    background-color: white;
    height: 90px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* #header1>h1{
    position:absolute;
    top:50px;
    left: 70px;
} */

/* 본 메뉴판  */
#header2{
    height: 30px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 350px;
}

#hotice{
    font-size: large;
    color:#000000;
    font-family: 'Lilita One';
}

#section{
    overflow-y: auto;
    height: 790px;
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#menu{
    width: 500px;
    background-color:white;
    height: 100px;
    display: flex;
    border-radius: 20px;
   margin-top: 20px;
    position: relative;
}


#title{
    width: 500px;
    position: relative;
    z-index: 2;
    top:10px;
    bottom:0;
    left:100px;
    font-family: 'SEBANG_Gothic_Bold';
}


#matter{
    position: absolute;
    top:10px;
    bottom:0;
    font-size: xx-small;
    color: gray;

}


#listprice{
    position: absolute;
    top: 35px;;
    left:100px;

    color:rgb(0, 0, 0);
    font-family: 'SEBANG_Gothic_Bold';
}



#circle{
    position: absolute;
    left:0px;
    width: 90px;
    height: 90px;
    margin-top: 5px;
    border-radius: 10px;
}

#circle{
    /* 랜덤 아니면 순서대로  */
    background-color: #FFEDD2;
    /* background-color: #FFBCBC;
    background-color: #BCDFFF;
    background-color: #FFD0A5; */
}


/* 버튼꾸미기 */


#numbutton{
   display: none;
    position: absolute;
    top: 30px;
    right: 50px;
    bottom:0;
}

#numbutton.active {
    display: block;
  }

#minus{
    width: 20px;
}
  

#minus,#plus,#result{
    border:none;
    font-size: large;
    background-color: transparent;
    display: inline-block;

}

/* .selected{
    background-color: #FFEDD2;
} */
/* #menuname{
    width: 250px;
    text-align: left;
} */

/* 메뉴이름 색상 및 폰트 설정 */
#menuname>h3, #menuname>h5{
    color:rgb(0, 0, 0);
font-family: 'SEBANG_Gothic_Bold';
}

/* -----------footer부분--------------- */

#footer {
    position: relative;
    width: 600px;
    height: 100px;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
  
  #footer1 {
    text-align: center;
    background-color: #E6E6E6;
    height: 60px;
    width: 130px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #c3c8c6;
    border: none;
    font-family: 'SEBANG_Gothic_Bold';
  }
  
  #footer2 {
    background-color: #BBE4BF;
    box-shadow: 2px 2px 2px #c3c8c6;
    height: 60px;
    width: 340px;
    border-radius: 10px;
    border: none;
    font-family: 'SEBANG_Gothic_Bold';
    margin-left: 40px;
  }

  /* ----메뉴/레시피/마이 구현----- */

  #lastfooter {    
    position: relative;
    width: 600px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #lastfooter1, #lastfooter2, #lastfooter3 {
    font-size: larger;
    text-align: center;
    background-color: white;
    height: 10px;
    width: 170px;
    border: none;
    font-family: 'SEBANG_Gothic_Bold';
    margin: 0 10px;
  }


/* //주문페이지 이동 버튼에 주문 수량 보이도록 */
#total{
    background-color: #ffffff;
    border:white;
    border-radius: 90px;
    padding: 10px 15px;
    text-align: center;
    font-size: medium;
}


/* 이미지 넣고 확인 후 작업*/
#icon{
 object-fit: fill;
}

/* 추가된 버튼 꾸미기 */
#manager{
    font-family: 'SEBANG_Gothic_Bold';
    font-size: 15px;
    color: #544866;
    text-align: center;
    height: 25px;
    width: 100px;
    border: none;
    background-color: #ffc9c9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-right: 360px;
}

.link{
    color: #000000;
    text-decoration: none;
}

#update{
    font-family: 'SEBANG_Gothic_Bold';
    font-size: 15px;
    color: #000000;
    text-align: center;
    height: 25px;
    width: 50px;
    border: none;
    background-color: #ffc9c9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 70px;
    margin-left:200px;
    position:relative;
    z-index: 3;
}

#delete{
    font-family: 'SEBANG_Gothic_Bold';
    font-size: 15px;
    color: #000000;
    text-align: center;
    height: 25px;
    width: 50px;
    border: none;
    background-color: #ffc9c9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 70px;
    position: relative;
    z-index: 3;
}

#manager:hover {
  background-color: #faacac;
  transition: 0.3s;
}

img{
    width:80px;
    height: auto;
    margin-left: 5px;
    margin-top: 5px;
}

.hidden {
    display: none;
  }